<div id="fb-root"></div>
<div id="app-script-root"></div>
<div id="app-view-root"></div>
<div class="s-cookie-notification-bar" style="position: fixed; bottom: -1000px !important;">
<div class="cookie-notification-title">Utilisation des cookies</div>
<span class="cookie-notification-text">Nous utilisons des cookies pour assurer une expérience de navigation fluide. En continuant, nous supposons que vous acceptez l'utilisation des cookies.</span>
<div style="margin: 10px 0">
<button>Accepter</button>
</div>
<a href="<%= cookiePolicyPath %>" target="_blank">En savoir plus</a>
</div>